// COLORS
$red: #F44336;
$orange: #FF5722;
$yellow: #FFC107;
$green: #4CAF50;
$teal: #009688;
$blue: #2196F3;
$purple: #673AB7;

$white: #FFFFFF;
$offwhite: #F5F5F5;
$lightgray: #CCCCCC;
$gray: #9E9E9E;
$darkgray: #202020;
$black: #111111;

// BREAKPOINTS
// NOTE: This variable is duplicated in JS (constants/index, BREAK_MOBILE)
// TODO: A solution for sharing variables between scss and js.
$break-mobile: 600px;

// SIZES
$maxWidth: 1000px;
$maxWidthNarrow: 650px;

// NOTE: This variable is duplicated in JS (constants/index, HEADER_HEIGHT)
// TODO: A solution for sharing variables between scss and js.
$header-height: 150px;

$footer-height: 75px;

$track-height: 160px;
$track-padding: 5px;
$track-inner-height: $track-height - ($track-padding * 2);
