// COLORS
$red: #F44336;
$orange: #FF5722;
$yellow: #FFC107;
$green: #4CAF50;
$teal: #009688;
$blue: #2196F3;
$purple: #673AB7;

$white: #FFFFFF;
$offwhite: #F5F5F5;
$lightgray: #E0E0E0;
$gray: #9E9E9E;
$darkgray: #424242;
$black: #111111;

// SIZES
$maxWidth: 1000px;
